

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: 'Merriweather', serif;
}

h1.section-header {
  padding: 15px 0;
}

body > div.container-fluid:nth-child(odd) {
  background-color: #f6f6f6;
}

body > div.container-fluid:nth-child(even) {
  background-color: #eeeeee;
}

blockquote > p {
  font-size: 16px;
  font-weight: 300;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

#structure .panel-body {
  padding: 0px;
}
#structure .panel-body > img {
  width: 100%;
  height: 100%;
}

div#poem-structure-examples {
  padding: 10px;
}

div#poem-structure-examples table {
  margin: 0 auto;
}

#footer-text {
  padding: 10px;
}












